@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

}

:root {
  --background-color: #161616 !important;
  --primary-color: #F2F2F2 !important;
  --secondary-color: #222222;
  --error-color: #A03434 !important;
  --submit-color: #B5984D !important;
  --open-color: #3473A0 !important;
  --success-color: #4DB570 !important;
  --md-p: 8;
  --sm-p: 4;
}

/* Dark mode variables */
@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #161616;
    --primary-color: #F2F2F2;
    --secondary-color: #222222;
    --submit-color: #B5984D;
    /* Make sure dark mode gets the correct value */
    --x-open-color: #3473A0;
    /* Ensure dark mode has its own set of colors */
  }
}



html,
body {
  @apply bg-[var(--background-color)] text-[var(--primary-color)];

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}


@media (max-width: 1024px) {

  a,
  input,
  button,
  div,
  h1,
  h2,
  h3,
  h4,
  h5,
  p,
  img {
    transition: all 0.4s cubic-bezier(0.23, 1, 0.320, 1);
  }
}

@media (min-width: 1024px) {

  a,
  input,
  button,
  div,
  h1,
  h2,
  h3,
  h4,
  h5,
  p,
  img {
    transition: all 0.4s cubic-bezier(0.23, 1, 0.320, 1);
  }
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}